@font-face {
    font-family: grosText;
    src: url(../asset/font/gros.otf);
}

@font-face {
    font-family: petitText;
    src: url(../asset/font/petit.otf);
}

.App {
    width: 50vw;
    padding: 5%;
}

.App > h1 {
    /* text-align: center; */
    line-height: 90%;
    font-size: 80px;
    font-family: grosText;
    text-transform: uppercase;
    background: var(--bleu);
    background: var(--grad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: min-content;
}

@media screen and (max-width: 728px) {
    .App > h1 {
        font-size: 13vw;
    }
}

.review {
    border: 1px solid rgb(119 119 119);
    height: 500px;
    margin-top: 10%;
    border-radius: 10px;
}

.review h2 {
    font-size: 30px;
    font-family: 'petitText';
    color: var(--blanc);
    text-align: center;
}

.compe {
    width: max-content;
    height: 500px;
    border: rgb(119 119 119) 1px solid;
    border-radius: 10px;
    padding: 10%;
}