.card {
  perspective: 1000px;
  width: calc(40vw - 20px);
  max-width: 300px; /* Restrict maximum card width */
  height: calc(40vw * 1.5);
  max-height: 450px;
  margin: 0 auto; /* Center cards */
  transition: transform 0.3s ease-in-out;
  border-radius: 20px;
}

.card:hover {
  transform: scale(1.05) rotateZ(3deg);
}

.card .front,
.card .back {
  border-radius: 20px;
  box-shadow: 0 0 20px #fff, 0 0 50px #0000006b;
  background-size: cover;
}

.card .front {
  background: url("../asset/img/pythonCard.png");
}

.card .back {
  background: url("../asset/img/backCardB.png");
  transform: rotate3d(0, 1, 0, -180deg);
}
